
<div class="jumbotron">
  <h2><div class="center"><b>Your Shopping Cart</b></div></h2>
</div>

<% if @cart.empty? %>
	<div class="show_error">
		<b>You have nothing in your Shopping Cart <a href="/"shopping</></b>
	</div>
<% else %>

<% total = 0 %>
<ul>
	<% @cart.each do | id, quantity | %>
	<% product = Product.find_by_id(id) %>

	<li>
		<p><%= link_to product.name, product %></p>
		<p>Price: </p>
		<p><%= number_to_currency(product.price, :unit =>'€') %></p>
		<p>Quantity: <%= quantity %> 
<% if quantity > product.quantity %>
Sorry we have	<%= product.quantity %> in our store
<%
quantity = product.quantity
end %>

		</p>

	</li>
	<% total += quantity * product.price %>
	<% end %>
<b>Total Price: </b>
	<p><b> <%= number_to_currency(total, :unit => '€')%></b></p>
</ul>

	<%= link_to 'Start your order', new_order_path, class:"btn btn-success" %>

	<%= link_to 'Add More Product', products_path, class:"btn btn-primary" %>

	<%= link_to 'Empty Your Cart', cart_clear_path, class:"btn btn-danger" %>

<% end %>
