<div class="center">
  <h2>Your Purchase History</h2>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Id</th>
    <th class="center">Address</th>
    <th class="center">Date Purchased</th>
    <th class="center">Price</th>
    <th class="center">Status</th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td class="center"><%=link_to order.id, order %></td>
      <td class="center"><%= order.address %></td>
      <td class="center"><%= order.created_at.strftime("%B %-d, %Y") %></td>
      <td class="center"><%=number_to_currency(order.totalprice, unit: '€')%></td>
      <td class="center">
<% case order.status  %>
<% when 'I' %>
There was a problem this order was not sent to the seller
<% when 'S' %>
Order complete you will receive your products soon.
<% else %>
Status unknown <%= order.status %>
<% end %>
    </td>
    </tr>
  <% end %>
</table>
<br>

<% if user_signed_in? %>
  <%= link_to 'New Product', new_product_path, class: "btn btn-link", data: { no_turbolink: true } %>
<% end %>
